.single-card {
    max-width: 25rem;
}

.item-count {
    display: inline ;
}

.agregar-carrito {
    color: black;
    background-color: rgb(252, 242, 246);
    border: 1px solid rgb(209, 206, 206);
    margin-left: 1rem;
}

.agregar-carrito:hover {
    color: black;
    background-color: rgb(252, 242, 246);
    border: 1px solid rgb(209, 206, 206);
}
