.products-navbar {
    border-top: 1px solid rgb(223, 218, 218); 
    border-bottom: 1px solid rgb(223, 218, 218);
    width: 100%;
    overflow: auto;
}

.products-nav {
    width: 100%;

}

.products-button {
    background-color: rgb(252, 242, 246);
    border:  2px solid rgb(252, 242, 246);
    width: 7rem;
}

.products-button:hover {
    background-color: rgb(252, 242, 246);
    border:  2px solid rgb(252, 242, 246);
    border-bottom: 2px solid rgb(197, 193, 194);
}

.filtro-button {
    color: rgb(170, 172, 171);
    text-decoration: none;
}

.filtro-button:hover {
    color: black;
}

.active {
    color: black;
}